@use "abstracts" as *;

// btn
.btn {
  @include button-reset;
  cursor: pointer;

  // 搜尋按鈕
  &--search {
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-left: auto;
  }

  // 主要樣式
  &--primary {
    @include flex($ai: center, $jc: center);
    justify-self: flex-end;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: deep-map-get($border-radius, base);

    i {
      margin-right: 1rem;
    }
  }

  // 警告
  &--danger {
    color: #fff;
    background-color: var(--danger-color);
  }

  &--remove {
    @include text(md);
    color: var(--primary-color);

    i {
      pointer-events: none;
    }
  }

  // 新增自訂清單按鈕
  &--custom-list {
    @include text(base);
    width: calc(100% - 4.5rem);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  // 新增新 todo 按鈕
  &--add-item {
    width: 100%;
  }

  // main-option (清單選項鈕)
  &--list-option {
    @include text(md);
    color: var(--primary-color);
    padding-right: 0;
    padding-left: 0;

    i {
      pointer-events: none;
    }
  }

  // modal 內按鈕
  &--modal {
    @include text(normal);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  // 新增新清單跳出的 modal 內的完成按鈕
  &--add-list-modal {
    margin-top: 1.5rem;
  }
}

// 總覽頁面中 main 標題旁的變更視圖按鈕
.main__view-btn {
  @include text(sm);
  padding: 0.25rem 0.75rem;
  color: var(--primary-color);
  border-radius: deep-map-get($border-radius, base);

  &--active {
    // background-color: var(--tertiary-color);
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }

  i {
    pointer-events: none;
  }
}

// mode-btn (光線模式)  之後回來處理，這邊要重寫
.mode-btn {
  padding: 0.25rem 1rem;
  border: 2px solid var(--primary-color);

  &--light {
    color: var(--secondary-color);
    background-color: #fff;
  }

  &--dark {
    // color: var(--primary-color);
    color: var(--secondary-color);
    // background-color: var(--secondary-color);

    // color: black;
    background-color: black;
    // background-color:  #fff;
  }
}

// hamburger
.hamburger {
  @include flex($dir: column, $jc: space-between);
  width: 40px;
  height: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition-property: opacity, visibility;
  transition-duration: 500ms;

  &--nav {
    @include lg {
      display: flex;
    }
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &--main {
  }

  &__bar {
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    pointer-events: none;

    transition-property: background-color;
    transition-duration: $mode-transition-duration;
  }
}
