@use "abstracts" as *;

// color 全局設定
.color-block {
  @include rounded-full();
  flex-shrink: 0;
}

.color-block--default {
  background-color: var(--primary-color);
}

// 產生第 1 ~ 第 10 的 class
@for $i from 1 through 10 {
  .color-block-#{$i} {
    background-color:  var(--color-type-#{$i});
  }
}