@use "abstracts" as *;

$dropdown-transition-speed: 250ms; 

.dropdown {
  padding-top: 1.5rem;
        
  &__arrow{
    @include text(xs);
    margin-right: .875rem;
    pointer-events: none;
    transform: rotate(90deg);
    transform-origin: center;
    transition: transform $dropdown-transition-speed ease-in-out;

    &--closing {
      transform: rotate(0deg);
    }
  }

  &__name{
    @include flex($ai: center);
    @include text(base);
    position: sticky;
    top: 0;
    z-index: 4;
    font-weight: bold;
    width: 100%;
    padding-left: 1rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
  }

  &__cover {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    // border: 1px solid var(--primary-color);
    overflow: hidden;
    transition: height ease-in-out $dropdown-transition-speed;

    &--closing {
      height: 0;
    }
  }
}