@use "abstracts" as *;

.empty-msg {
  @include flex($dir: column, $jc: center, $ai: center);
  height: 50vh;

  &__svg {
    // width: 12.5rem;
    height: 200px;
  }

  &__text {
    @include text(sm);
    text-align: center;
    margin-top: 3rem;

    @include sm{
      @include text(base);
    }
  }
}
