@use "../abstracts" as *;

.empty-msg {
  @include flex($dir: column, $jc: center, $ai: center);
  height: 50vh;

  &__svg {
    height: 12.5rem;

    // 因 home 的 grid-view 並沒有 input，
    // 導致圖片位置較高，補上 home 頁面 svg 的 margin-top;
    &--home {
      margin-top: 10rem;
    }
  }

  &__text {
    @include text(sm);
    user-select: none;
    text-align: center;
    margin-top: 3rem;

    @include sm {
      @include text(base);
    }
  }
}
