@use "abstracts" as *;

.input-area{
  $block: &;

  @include flex;
  width: 100%;
  z-index: 5;
  grid-row: -1 / span 1;

  &.nav-open {
    width: calc(100% - 23.4375rem);
    left: calc(50% + 375px);
  }


  &__add-btn{

    &--active{
      display: none;
      // opacity: 0;
      // visibility: hidden;;
    }

    &--active + #{$block}__form {
      display: flex;
    }
  }
  
  &__form{
    display: none;
    width: 100%;
    grid-column: 1/-1;
  }

  &__input {
    width: 100%;
    padding: 8px 12px;
    font-size: 18px;
  }

  &__submit-btn{
    color: #fff;
    padding: 1rem 1.5rem;
    border: 1px solid #fff;
  }
}