@use "../abstracts" as *;

.list-options {
  @include text(sm);
  overflow: hidden;

  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 10;

  transform: scale(0);
  transform-origin: top right;

  border: 1px solid var(--primary-color);
  border-radius: deep-map-get($border-radius, md);
  background-color: var(--secondary-color);

  transition: all map-get($map: $transition-duration, $key: fast);

  &--open {
    transform: scale(1);
  }

  &--home {
    right: 7.625rem;
    top: 2.5rem;
  }
}

.list-option {
  &:not(:last-child) {
    border-bottom: 1px solid var(--tertiary-color);
  }

  &--custom-list {
    display: none;

    @include sm {
      display: block;
    }
  }

  &__link {
    @include text(base);
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    width: 100%;
    transition: background-color 100ms, color 100ms;
    color: var(--primary-color);

    @include sm {
      @include text(normal);
    }

    @include hover-query {
      &:hover {
        background-color: var(--tertiary-color);
        color: var(--primary-color);
      }
    }
  }
}
