@use "abstracts" as *;

.list-options {
  @include text(sm);
  position: absolute;
  top: 3.125rem;
  right: 2.25rem;
  z-index: 5;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  
  border-radius: deep-map-get($border-radius, base);
  background-color: var(--secondary-color);
  outline: 1px solid;

  transform: scale(0);
  transform-origin: top right;
  transition: transform map-get($map: $transition-duration, $key: hover);

  &--open {
    transform: scale(1);
  }
}

.list-option {

  &__link {
    display: inline-block;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;

    transition: background-color 100ms, 
      color 100ms;

    color: var(--primary-color);

    @include hover-query {
      &:hover {
        background-color: var(--tertiary-color);
        color: var(--primary-color);
      }
    }
  }
}