@use "abstracts" as *;

.list-option {
  @include text(sm);
  position: absolute;
  top: 7.8125rem;
  right: 2.8125rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top-right-radius: 0;
  background-color: var(--secondary-color);
  outline: 1px solid;

  @include sm {
    top: 7.1875rem;
  }

  transform: scale(0);
  transform-origin: top right;
  transition: transform map-get($map: $transition-duration, $key: hover);

  &--open {
    transform: scale(1);
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   right: 0;
  //   bottom: 100%;
  //   width: 0;
  //   height: 0;
  //   border-style: solid;
  //   border-width: 0 0 0.9375rem 1.25rem;
  //   border-color: transparent transparent var(--secondary-color) transparent;
  // }

  &__item {
    &:not(:first-child) {
      // margin-top: 1rem;
    }
  }

  &__link {
    display: inline-block;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;

    transition: background-color 100ms, 
      color 100ms;

    // color: var(--secondary-color);
    color: var(--primary-color);

    @include hover-query {
      &:hover {
        // background-color: var(--primary-color);
        // color: var(--secondary-color);
        // background-color: hsl(0, 0%, 40%);
        background-color: var(--tertiary-color);
        color: var(--primary-color);

        // color: var(--primary-color);
      }
    }
  }
}
