@use "abstracts" as *;

.main__form {
  width: 100%;
  margin: 0 auto;
  z-index: 5;
}

.main__input {
  @include text(base);
  color: var(--primary-color);
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: var(--secondary-color);
}

.todo-form {
  @include flex;
  grid-row: 3/4;
  max-width: $max-width;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
  &__input {
    border: 1px solid var(--primary-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__submit {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 1.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    i {
      pointer-events: none;
    }
  }
}

.search {
  max-width: $max-width;
  width: calc(100% - 5rem); // @ 減掉 80px 是因為「取消」按鈕


  &__form {
    position: relative;
  }

  &__input {
    padding-left: 2.25rem;
    border: 0;
    border-bottom: 1px solid var(--primary-color);
    letter-spacing: deep-map-get($text, spacing, base);

    @include sm {
      padding-top: .3125rem;
      padding-bottom: .3125rem;
    }
  }

  i {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
  }

  // 搜尋 icon
  .fa-magnifying-glass {
    left: 0.75rem;
  }

  // #clear-text-btn
  .fa-circle-xmark {
    @include text(base);
    right: -0.75rem;
    cursor: pointer;
  }
}
