@use "abstracts" as *;

/*
  白色 modal 配上白色背景是沒有問題的，
  因為我還會使用 overlay
*/


.modal{
  width: 100%;
  max-width: 20.625rem;

  &__confirm{
    @include flex($dir: column);
  }

  // 字體 PC: md ,mobile: sm
  &__text{
      color: var(--primary-color);
      // font-size: 
  }

  &__btn-group{
    @include flex;
  }
}