@use "abstracts" as *;

/*
  白色 modal 配上白色背景是沒有問題的，
  因為我還會使用 overlay
*/

.modal-overlay {
  opacity: 0;
  visibility: hidden;
  
  @include flex($jc:center, $ai: center);
  padding-left: deep-map-get($padding, padding-x,desktop);
  padding-right: deep-map-get($padding, padding-x,desktop);
  
  @include sm {
    padding-left: deep-map-get($padding, padding-x,mobile);
    padding-right: deep-map-get($padding, padding-x,mobile);
  }
}


.modal{
  width: 100%;
  max-width: 22.1875rem;
  background-color: var(--tertiary-color);

  &__confirm{
    @include flex($dir: column);
    padding: 2rem;
  }
  
  // 字體 PC: md ,mobile: sm
  &__text{
    @include text(sm);
    @include flex($dir: column, $ai: center);
    color: var(--primary-color);
    text-align: center;

    span:not(:first-child) {
      display: inline-block;
      margin-top: 1.5rem;
    }
  }

  &__list-name{
    &::before{
      content: '「 ';
    } 
    &::after{
      content: ' 」';
    } 
  }

  &__btn-group{
    @include flex($jc: center);
    margin-top: 1.5rem;
  }
}

// overlay 被套用上 overlay--active 時，modal 的樣式:
.overlay-active .modal {
  transform: scale(1);
}