@use "abstracts" as *;

.modal-overlay {
  opacity: 0;
  visibility: hidden;

  @include flex($jc: center, $ai: center);
  padding-left: deep-map-get($padding, padding-x, desktop);
  padding-right: deep-map-get($padding, padding-x, desktop);

  @include sm {
    padding-left: deep-map-get($padding, padding-x, mobile);
    padding-right: deep-map-get($padding, padding-x, mobile);
  }
}

.modal {
  @include flex($dir: column);
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transform: translateY(40%);
  padding: 2rem;
  width: 100%;
  max-width: 22.1875rem;
  background-color: var(--tertiary-color);
  border-radius: deep-map-get($border-radius, base);
  transition: 400ms ease-in-out;
  transition-property: transform, opacity, visibility;

  @include sm {
    max-width: 20rem;
  }

  // 當 modal 被開啟時套用此 class
  &--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }

  // 刪除列表的確認框
  &--confirm {
    z-index: 15; // @ modal--confirm 的 z-index 層級會比 modal--edit 來得高
  }

  // 編輯 todo 的對話框
  &--edit {
    position: fixed;
  }

  // 編輯列表名稱的對話框(包含選色)
  &--eidt-name {
    position: fixed;
  }

  &__form {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  &__title {
    @include text(md);
    grid-column: 1/-1;
    color: var(--primary-color);
    text-align: center;
  }

  &__input {
    @include text(sm);
    grid-column: 1/-1;
    margin-top: 1.5rem;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    width: 100%;
    padding: 0.5rem;
    color: var(--primary-color);
    border-radius: deep-map-get($border-radius, base);
  }

  .color-picker {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    margin-top: 2rem;
  }

  &__color-block {
    width: 2.625rem;
    height: 2.625rem;
    cursor: pointer;
    background-color: var(--primary-color);

    @include sm {
      width: 2.25rem;
      height: 2.25rem;
    }

    &--active {
      position: relative;

      &::before {
        content: "\f00c";
        @include flex($jc: center, $ai: center);
        @include rounded-full();
        @include text(sm);
        font: var(--fa-font-solid);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 2.25rem;
        height: 2.25rem;
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        font-size: 1.25rem;
      }
    }
  }

  &__textarea {
    @include text(base);
    grid-column: 1/-1;
    width: 100%;
    height: 12.5rem;
    margin-top: 1.5rem;
    resize: none;
    padding: 0.5rem;
    letter-spacing: deep-map-get($text, spacing, base);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;

    &:disabled {
      opacity: 0.5;
    }
  }

  &__warn-text {
    @include text(normal);

    i {
      @include text(sm);
      color: var(--color-type-5);
      margin-right: 0.5rem;
    }
  }

  &__check-options {
    @include flex;
    grid-column: 2 / -1;
    grid-row: 2/3;
    color: var(--primary-color);
    column-gap: 1.5rem;
    margin-top: 1.5625rem;
    user-select: none;

    .checkbox__appearance {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__check-option {
    @include flex($ai: center);
    position: relative;
    column-gap: 0.5rem;
    color: var(--primary-color);
    cursor: pointer;

    &--disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__top {
    @include button-reset();
    @include text(normal);
    padding-left: 0;
    padding-right: 0;

    i {
      pointer-events: none;
    }
  }

  // 字體 PC: md ,mobile: sm
  &__text {
    @include text(sm);
    @include flex($dir: column, $ai: center);
    color: var(--primary-color);
    text-align: center;
    row-gap: 2rem;

    span:not(:first-child) {
      display: inline-block;
      margin-top: 2rem;
    }
  }

  .confirm-content {
    font-weight: bold;
    width: 100%;
    letter-spacing: 0.15em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // btn-group 基礎樣式
  &__btn-group {
    @include flex($jc: center);
    margin-top: 2rem;

    & > *:not(:first-child) {
      margin-left: 2rem;
    }
  }

  // 編輯框的 btn-group
  &--edit &__btn-group {
    grid-column: 1/-1;
    grid-row: 3 /4;
    margin-top: 3.125rem;
    justify-content: space-between;
  }
}

// overlay 被套用上 overlay--active 時，modal 的樣式:
.overlay-active .modal {
  transform: scale(1);
}