@use "abstracts" as *;

.overview {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 360px));
  gap: 3.75rem;

  @include lg {
    grid-template-columns: repeat(2, minmax(300px, 360px));
  }

  @include md {
    grid-template-columns: minmax(auto, 360px);
    gap: 2rem;
  }

  @include sm {
  }

  &__link {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
  }

  &__header {
    @include flex($ai: center);
    @include text(sm);
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);

    @include sm {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  &__color-block {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 25% 50%;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &__text {
    @include text(base);
    // font-weight: bold;
    @include flex($jc: space-between, $ai: center);

    &--column {
      @include flex($dir: column);
      text-align: center;
    }
  }

  &__number {
    font-weight: bold;
  }

  &__number--lg {
    @include text(xl);
  }

  &__number--sm {
    @include text(sm);
  }

  &__group {
    grid-column: 2/3;
    @include flex($dir: column, $jc: space-between);
    padding-left: 1.8rem;
    border-left: 1px solid var(--primary-color);
  }
}

.progress {
  @include flex($dir: column);
  grid-column: 1/-1;
  margin-top: 1.5rem;

  &__value {
  }

  &__outer {
    margin-top: 0.5rem;
    height: 0.5rem;
    border: 1px solid var(--primary-color);
  }

  &__inner {
    height: 100%;
    background-color: var(--primary-color);
  }
}
