@use "abstracts" as *;

.todo {
  $block: &;
  @include flex($dir: column);

  &__item {
    @include flex($ai: center);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--tertiary-color);
    cursor: pointer;
  }

  .checkbox__appearance {
    height: 1.5rem;
    width: 1.5rem;
  }

  &__item--isChecked {
    :is(.todo__checkbox, .todo__content, .top) {
      opacity: 0.5;
    }
  }

  &__content {
    @include text(base);
    color: var(--primary-color);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    pointer-events: none;

    @include sm {
      @include text(normal);
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .top {
    margin-left: auto;
    color: var(--primary-color);
  }
}
