@use "abstracts" as *;

.todo-form {
  @include flex;
  grid-row: 3;
  grid-column: 1/-1;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  z-index: 5;

  &__input {
    @include text(base);
    color: var(--primary-color);
    width: 100%;
    padding: .5rem .75rem;
    background-color: var(--secondary-color);
  }

  &__submit {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 1.5rem;
    // border: 1px solid #fff;
  
    i{
      
      pointer-events: none;
    }
  }
}