@use "../abstracts" as *;

.main {
  display: grid;
  grid-template-rows: $topbar-height 1fr auto;
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: relative;
  width: 100%;
  margin-left: auto;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transition-property: width;
  transition-duration: map-get($transition-duration, collapse);

  @include sm {
    grid-template-rows: $topbar-height 1fr auto;
  }

  &.nav-open {
    width: calc(100% - 21.25rem);

    @include lg {
      width: 100%;
    }
  }

  // main 頂部 bar
  &__topbar {
    @include flex($ai: center);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: $topbar-height;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition-property: width;
    transition-duration: map-get($transition-duration, collapse);

    @include sm {
      height: $topbar-height;
    }

    &.nav-open {
      width: calc(100% - 21.25rem);
      @include lg {
        width: 100%;
      }
    }

    &-container {
      width: 100%;
      margin: 0 auto;

      &--normal {
        @include flex($ai: center, $jc: center);
      }

      &--search {
        @include flex($ai: center, $jc: center);
        margin: 0 auto;

        @include xxl {
          max-width: $max-width;
        }
      }
    }
  }

  // main 中間部分內容區
  &__content {
    @include padding-x;
    @include flex($dir: column, $ai: center);
    grid-column: 2/-1;
    grid-row: 2/3;
    overflow-y: auto;
    scrollbar-color: var(--scrollbar-color) var(--secondary-color);

    > .container {
      @include flex($dir: column, $ai: flex-end);
      position: relative;
      max-width: $max-width;
      width: 100%;
    }
  }

  &__content-head {
    @include flex($dir: column, $jc: center);
    position: sticky;
    z-index: 1;
    top: 0;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  &__name-wrapper {
    position: relative;
    display: grid;
    justify-content: start;
    justify-items: end;
    align-items: center;
    grid-template-columns: auto auto 1fr;
    width: 100%;
    height: 100%;
  }

  &__color-block {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: stretch;
    width: 0.625rem;
    margin-right: 1.5rem;
  }

  &__name {
    grid-row: 1/2;
    @include text(lg);
    width: 100%;
    font-weight: bold;
    border: 0;
    background-color: transparent;
    color: var(--primary-color);
    letter-spacing: deep-map-get($text, spacing, base);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include sm {
      @include text(md);
    }
  }

  // 清除已完成按鈕
  &__clear-completed-btn {
    white-space: nowrap;
    grid-column: 3/4;
    grid-row: 2/-1;

    @include sm {
      display: none;
    }
  }

  &__list-option-btn {
    margin-left: 1.25rem;
    grid-row: 1/2;

    &--default-list {
      display: none;

      @include sm {
        display: block;
      }
    }
  }

  //  Home.js 內的 view 切換鈕
  &__view-btns {
    @include flex($jc: center);
    margin-left: 1rem;
    grid-row: 1/2;
    max-width: 5.625rem;
    width: 100%;

    @include sm {
      justify-self: end;
    }
  }

  // 總覽頁面中 main 標題旁的變更視圖按鈕
  &__view-btn {
    @include text(sm);
    padding: 0.25rem 0.75rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    opacity: 1;
    width: 50%;

    @include hover-query {
      &:hover {
        background-color: var(--primary-hover);
      }
    }

    &:nth-child(1) {
      border-top-left-radius: deep-map-get($border-radius, base);
      border-bottom-left-radius: deep-map-get($border-radius, base);
    }

    &:nth-child(2) {
      border-top-right-radius: deep-map-get($border-radius, base);
      border-bottom-right-radius: deep-map-get($border-radius, base);
    }

    &--active {
      opacity: 0.8;
    }

    i {
      pointer-events: none;
    }
  }

  &__content-list {
    @include flex($jc: center);
    width: 100%;

    .container {
      max-width: $max-width;
    }
  }

  &__search-result {
    @include flex($jc: center, $ai: center);
    width: 100%;
    height: 100%;
    max-width: $max-width;

    .container {
      @include flex($dir: column, $ai: center, $jc: center);
      max-width: $max-width;
      height: 100%;
    }

    .todo {
      width: 100%;
      height: 100%;
      margin-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}
