@use "../abstracts" as *;

.nav {
  position: absolute;
  z-index: 10;
  transform: translateX(-100%);

  display: grid;
  grid-template-rows: $topbar-height auto 1fr;
  grid-column: 1/2;
  grid-row: 1/-1;

  width: 100%;
  height: 100%;

  border-right: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);

  transition-property: transform;
  transition-duration: map-get($transition-duration, collapse);

  @include sm {
    border-right: 0;
    grid-template-rows: $topbar-height auto 1fr;
  }

  &__list {
    a {
      @include text(base);
      @include flex($ai: center);
    }
  }

  // nav-open
  &.nav-open {
    transform: translateX(0);

    // .nav 的兄弟元素 .main 內的 .hamburger--main 會被隱藏
    & + .main .hamburger--main {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__topbar {
    @include flex($ai: center, $jc: space-between);
    @include padding-x;
    border-bottom: 2px solid var(--primary-color);
  }

  &__mode-btns {
    @include flex;
  }

  &__content {
    @include flex($dir: column, $jc: flex-start);
    height: calc(var(--app-height) - #{$topbar-height});
    padding-bottom: 1rem;

    @include sm {
      height: calc(var(--app-height) - #{$topbar-height});
    }
  }

  &__list-item {
    @include flex($ai: center);
    cursor: pointer;
    transition: background-color map-get($map: $transition-duration, $key: hover);

    // @ 「預設列表」的 icon 較窄，所以造成 nav 列表文字左右分配不均，
    // @ 所以有特別設定過它的距離。
    &:nth-child(2) {
      i {
        margin-left: 3px;
        width: 29px;
      }
    }

    @include hover-query {
      &:hover {
        background-color: var(--tertiary-color);
      }
    }
  }

  &__list-link {
    display: block;
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 2.25rem;
    color: var(--primary-color);

    @include sm {
      padding-left: 1.5rem;
    }

    i {
      @include text(md);
      margin-right: 1rem;
      pointer-events: none;
      width: 2rem;
    }
  }

  &__list-link--custom-list {
    @include flex;
  }

  &__list-item--active {
    position: relative;
    background-color: var(--tertiary-color);

    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 0;
      transform: translateX(100%);
      width: 10px;
      height: 100%;
      background-color: var(--primary-color);
      pointer-events: none;
    }
  }
}

.default-list {
  font-weight: 900;
  margin-top: 2rem;
}

.custom-list-title {
  @include text(sm);
  @include flex($ai: center);
  margin-top: 1.25rem;
  white-space: nowrap;

  @include sm {
    margin-top: 1rem;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.0625rem;
    background-color: var(--primary-color);
  }

  &::before {
    margin-right: 1.125rem;
  }

  &::after {
    margin-left: 1.125rem;
  }
}

.custom-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-y: auto;

  &__color {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    pointer-events: none;
  }
}

.custom-list__name {
  // @ 文字省略(必須是 block or inline-block，必須有寬度)
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 14.0625rem; // 此為視窗大於 576px 時的文字寬度
  pointer-events: none; // 防止點按到此元素
  font-weight: 900;
}
