@use "../abstracts" as *;

.text-strong {
  font-weight: 900;
}

.text-danger {
  color: var(--danger-color);
}

.text-lg{
  @include text(lg);
}

.text-md{
  @include text(md);
}

.text-base{
  @include text(base);
}

.text-normal {
  @include text(normal);
}

.text-sm{
  @include text(sm);
}

.text-xs{
  @include text(xs);
}

.text-center {
  text-align: center;
}