@use "../abstracts" as *;

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    @media not all and (hover: hover) {
        height: var(--app-height);
    }
}

:root {
    --app-height: 100%;
    --danger-color: #a71f24;
    --danger-color-hover: #7d171a;
    --color-type-1: #c58787;
    --color-type-2: #638c71;
    --color-type-3: #bf8f71;
    --color-type-4: #9f6cab;
    --color-type-5: #edc86f;
    --color-type-6: #9ca9b2;
    --color-type-7: #f67b6b;
    --color-type-8: #a1b7eb;
    --color-type-9: #963838;
    --color-type-10: #467b9a;
}

*,
::before,
::after {
    box-sizing: inherit;
    text-decoration: none;
    line-height: 1.5;
}

body {
    font-family: "Fira Code", "Noto Serif TC", serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    letter-spacing: deep-map-get($text, spacing, base);
    // @　防止雙擊放大
    touch-action: manipulation;

    @media not all and (hover: hover) {
        height: var(--app-height);
    }
}

input,
textarea {
    font-family: "Fira Code", "Noto Serif TC", serif;
}

button {
    padding: 0;
}

.light:root {
    --primary-color: #2a2a2a;
    --primary-hover: #404040;
    --secondary-color: #fff;
    --tertiary-color: #f1f1f1;
    --scrollbar-color: #d6d6d6;
    --line-color: #b4b4b43b;
}

.dark:root {
    --primary-color: #fff;
    --primary-hover: #b3b3b3;
    --secondary-color: #000000;
    --tertiary-color: #3a3a3a;
    --scrollbar-color: #3a3a3a;
    --line-color: #ececec3b;
}

// 使用者系統光線模式: light
@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #2a2a2a;
        --primary-hover: #404040;
        --secondary-color: #fff;
        --tertiary-color: #f1f1f1;
        --line-color: #b4b4b43b;
    }
}

// 使用者系統光線模式: dark
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #fff;
        --primary-hover: #b3b3b3;
        --secondary-color: black;
        --tertiary-color: #3a3a3a;
        --line-color: #ececec3b;
    }
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 340px) 1fr;
    grid-template-rows: 4.375rem 1fr;
    font-weight: 600;
    height: 100%;

    @include lg {
        &.nav-open {
            .overlay {
                @include show();
            }
        }
    }

    @include sm {
        grid-template-columns: minmax(0, 100%) 1fr;
    }
}

.container {
    width: 100%;
}


// * scrollbar (firefox 相關設定在 _main.scss --> .main__content-list 中)
::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
}
::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}


::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-hover);
}