// text
$text: (
  size: (
    base: 1.125rem,
    sm: 1.25rem,
    md: 1.5rem,
    lg: 1.75rem,
    xl: 2rem,
  ),
  weight: (
    600: 600,
    900: 900,
  ),
);

// transition
$transition-duration:(
  mode: 250ms,
  // 主要用於nav選單左右收合
  collapse: 350ms,
  hover: 100ms,
);

// padding
$padding: (
  padding-x: (
    mobile: 1.5rem,
    desktop: 2.25rem,
  ),
  padding-y:(),
);
