// text
$text: (
  size: (
    xs: .875rem,
    normal: 1rem,
    base: 1.125rem,
    sm: 1.25rem,
    md: 1.5rem,
    lg: 1.75rem,
    xl: 2rem,
  ),
  weight: (
    600: 600,
    900: 900,
  ),
  spacing:(
    base:  0.15em,
  ),
);

// transition
$transition-duration:(
  base: 350ms,
  middle: 500ms,
  long: 750ms,
  collapse: 350ms,// 主要用於nav選單左右收合
  hover: 100ms,
);

// padding
$padding: (
  padding-x: (
    mobile: 1.5rem,
    desktop: 2.25rem,
  ),
  padding-y:(),
);

// radius
$border-radius:(
  base: .3125rem,
  md: .625rem,
);


// header-height
$header-height:(
  lg:4.375rem,
  sm: 3.4375rem,
);