@use "./function" as *;
@use "./break-point" as *;
@use "./map" as *;

@mixin flex($dir: row, $jc: flex-start, $ai: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $wrap;
}

@mixin rounded-full {
  border-radius: 50%;
}

@mixin button-reset {
  background-color: transparent;
  border: 0;
  font-family: "Noto Serif TC", serif;
}

// 用於設定通用的 x 軸 padding (desktop 與 mobile 不一樣)
@mixin padding-x {
  padding-left: 2.25rem;
  padding-right: 2.25rem;

  @include sm {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

// 用於設定文字大小
@mixin text($size) {
  font-size: deep-map-get($text, size, $size);
}

// 檢查裝置是否支援hover，若有支援才執行此
@mixin hover-query() {
  @media (hover: hover) {
    @content;
  }
}

// 顯示
@mixin show() {
  visibility: visible;
  opacity: 1;
}

// 隱藏
@mixin hide() {
  visibility: hidden;
  opacity: 0;
}
